<nav class="menu">
    <ul>
        <li> <a href = "index.html"> Home </a></li>
        <li> <a href = "vies/two.html"> Page 2</a></li>
        <li> <a href = "views/three.html"> Page 3</a></li>
    </ul>
</nav>

<h1> Favorite Coding Resources</h1>

<table> 
    <caption>
        Table of Helpful Coding Resources.
    </caption>
    <thead>
        <tr>
            <th scope = "col"> Coding Resources</th>
            <th scope = "col"> Link </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope = "row"> MDN Web Docs </th>
            <td> https://developer.mozilla.org/en-US/ </td>
        </tr>

        <tr>
            <th scope="row"> YouTube </th>
            <td> https://www.youtube.com/ </td>
        </tr>

        <tr>
            <th scope="row"> ChatGPT </th>
            <td> https://chat.openai.com/</td>
        </tr>

        <tr>
            <th scope = "row"> Stack Overflow </th>
            <td> https://stackoverflow.com/ </td>
        </tr>

    </tbody>
</table>